/*------------------------------------------------------------------------
                            GLOBAL STYLES
 ------------------------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');

/* Custom properties */
:root{
    --mainColor: #07BBD3;
    --secColor: #505454;
    --emphasisColor: #f99e19;
    --neutralColor: #808080;
    --bgColor: #fcfcfc;
    --mainColor-RGB: 7,187,211;
    --secColor-RGB: 80,84,84;
    --mainColorDark: #008ba2;
    --mainColorLight: #63eeff;
    --secColorDark: #282b2b;
    --secColorLight: #7c8080;
    --emphasisColorDark: #c06f00;
    --emphasisColorLight: #ffcf52;
    --neutralColorDark: #545454;
    --neutralColorLight: #afafaf;
    --text: 'Roboto', sans-serif;
}
*{
    border:0;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    outline: none;
    padding: 0;
}
body, html{
    font-family:var(--text);
    font-size:16px;
    margin:0;
    text-align:center;
    min-height: 100%;
    width: 100%;
}
footer{
    align-items: center;
    background-color: var(--neutralColor);
    color: #fff;
    display: flex;
    font-size: small;
    height: 2rem;
    padding: .5rem;
}
footer p.copyright{
    font-size: .9em;
    margin: 0 auto;
    width: 75%;
}
h1{
    --bgGradientMain: linear-gradient(65deg, rgba(var(--mainColor-RGB),.75) 10%, rgba(var(--mainColor-RGB),0) 100%);
    background-position: 20% center, center, center;
    background-size: cover, cover, 33%;
    background-blend-mode: screen;
    background-repeat: no-repeat;
    border-radius: .33em;
    height: 30vmin;
    margin: .75rem;
    overflow: hidden;
    text-indent: -9999px;
    width: calc(100% - 1.5rem);
}
h2, h3{
    text-align: left;
}
h2{
    color: var(--mainColor);
    font-size: 4vmin;
    font-weight: normal;
}
h2 span{
    display: block;
    font-size: .75em;
    font-weight: 300;
}
h3{
    color: var(--mainColorDark);
    font-size: 1.5rem;
    font-weight: 300;
}
header{
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
header #header-logos{
    display: flex;
    flex-wrap: wrap;
    height: 5rem;
}
header .button-2{
    margin-right: 1.5rem;
}
header .logo{
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    height: 100%;
    text-indent: -9999px;
}
header #logoPINCC{
    background-color: rgba(195,195,195,.25);
    background-image: url(images/pincc.jpg);
    background-size:5em;
    width: 5em;
}

header #logoC3{
    background-color: rgba(195,195,195,.25);
    background-image: url(https://chilam.c3.unam.mx/wp-content/themes/chilam/images/logos/c3-g.svg);
    background-size:3.5em;
    width: 5em;
}
header #logoChilam{
    background-image: url(https://chilam.c3.unam.mx/wp-content/themes/chilam/images/logos/chilam.svg);
    background-size:15rem;
    width: 15.5rem;
}

header #logoCAyCC{
    background-image: url(images/CAyCC.png);
    background-size:14rem;
    width: 15.5rem;
}

header #logoCIC{
    background-color: rgba(195,195,195,.5);
    background-image: url(https://chilam.c3.unam.mx/wp-content/themes/chilam/images/logos/cic-g.svg);
    background-size:4.5em;
    width:6em;
}
header #logoUNAM{
    background-color: rgba(195,195,195,.75);
    background-image: url(https://chilam.c3.unam.mx/wp-content/themes/chilam/images/logos/unam-g.svg);
    background-size:3em;
    width:5em;
}
p:not(.copyright){
    font-size: 1.2rem;
    line-height: 1.6;
    margin: 1em auto;
    text-align: left;
}
#content{
    margin:.5rem auto 1.5rem;
    max-width: 1280px;
    min-height: calc(100vh - (30vmin + 10.5rem));
    padding: 0 3rem;
}
.button-1, .button-2{
    border-radius: .33rem;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: all 250ms ease-in-out;
}
.button-1{
    background-color: var(--emphasisColor);
    border:1px solid var(--emphasisColor);
    color: #fff;
    padding: .75rem 1.25rem;
}
.button-1:hover{
    background-color: var(--emphasisColorLight);
    color: #000;
}
.button-2{
    background-color: var(--bgColor);
    border:1px solid var(--neutralColorLight);
    color:var(--secColor);
    padding: .75rem 1.25rem;
}
.button-2:hover{
    border:1px solid var(--mainColorDark);
    color:var(--mainColorDark);
}
.steps{
    align-items: center;
    display: flex;
    justify-content: space-between;
    list-style: none;
}
.steps li{
    align-items: center;
    color: var(--neutralColor);
    display: flex;
    height: 12em;
    width: 25%;
}
.steps li:not(:last-child){
    background-position: left center;
    background-repeat: no-repeat;
    background-size: 4rem;
    padding: 0 0 0 4em;
}
.steps li:not(:last-child)::after{
    background: -webkit-linear-gradient(to bottom, rgba(var(--secColor-RGB),0), rgba(var(--secColor-RGB),.25));
    background: linear-gradient(to bottom, rgba(var(--secColor-RGB),0), rgba(var(--secColor-RGB),.25));
    clip-path: polygon(44% 100%, 0 0, 100% 0);
    content: "";
    display: block;
    height: 2em;
    transform: rotate(-90deg);
    width: 10em;
}
.steps li:nth-child(1){
    background-image: url(../images/icon-group.svg);
}
.steps li:nth-child(2){
    background-image: url(../images/icon-select.svg);
}
.steps li:nth-child(3){
    background-image: url(../images/icon-chart.svg);
}

/*------------------------------------------------------------------------
                            EPI-SPECIES STYLES
 ------------------------------------------------------------------------*/
h1#epi-species{
    background-image: var(--bgGradientMain),
    url(https://chilam.c3.unam.mx/wp-content/themes/chilam/images/slider/epispecies.jpg),
    url(https://chilam.c3.unam.mx/wp-content/themes/chilam/images/logos/projects/epispecies.svg);
}